{% extends 'navigation.html' %}


{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="{% static 'new/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'new/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'new/css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'new/css/iofrm-theme22.css' %}">
</head>
<body>
    <div class="form-body without-side">
        
        <div class="row" >
            

            
{% if messages %}
{% for message in messages %}
  <script>
    console.log("Django message:", "{{ message|escapejs }}"); // Debug log for messages
    Toastify({
      text: "{{ message|escapejs }}",
      duration: 5000,
      close: true,
      gravity: "top",
      position: "right",

      backgroundColor: "{% if message.tags == 'success' %}#4CAF50{% elif message.tags == 'error' %}#F44336{% else %}#FFC107{% endif %}",
      stopOnFocus: true,
    
      style: {
        width: "350px", 
        marginTop: "45px"
      }
    }).showToast();
 
  </script>
{% endfor %}
{% endif %}
            <div class="form-holder" style="margin-top: 50px;">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Password Reset</h3>
                        <p>To reset your password, enter the email address you use to sign in to iofrm</p>
                        <form action="/forget-password" method="POST">
                            {% csrf_token %}
                             <!-- Display Error Message -->
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <!-- Display Success Message if OTP is sent -->
            {% if success %}
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            {% endif %}
                             <input class="form-control" type="text" name="email" placeholder="E-mail Address" required value="{{ values.email }}">
                            <!-- Submit Button to Send OTP -->
                <button type="submit" class="btn btn-primary">Send OTP</button>
                            <!-- Email Field -->
                <!-- <div class="form-group">
                    <label for="email">Email :</label>
                    <input type="email" class="form-control" id="email" name="email" 
                           value="{{ values.email }}" required>
                </div> -->
                        </form>
                    </div>
                    <!-- <div class="form-sent">
                        <div class="tick-holder">
                            <div class="tick-icon"></div>
                        </div>
                        <h3>Password link sent</h3>
                        <p>Please check your inbox iofrm@iofrmtemplate.io</p>
                        <div class="info-holder">
                            <span>Unsure if that email address was correct?</span> <a href="#">We can help</a>.
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>


{% include 'footer.html' %}



{% endblock %}
