{% extends 'navigation.html' %}


{% load static %}


{% block content %}



{% if messages %}
{% for message in messages %}
  <script>
    console.log("Django message:", "{{ message|escapejs }}"); // Debug log for messages
    Toastify({
      text: "{{ message|escapejs }}",
      duration: 5000,
      close: true,
      gravity: "top",
      position: "right",

      backgroundColor: "{% if message.tags == 'success' %}#4CAF50{% elif message.tags == 'error' %}#F44336{% else %}#FFC107{% endif %}",
      stopOnFocus: true,
    
      style: {
        width: "350px", 
        marginTop: "45px"
      }
    }).showToast();
 
  </script>
{% endfor %}
{% endif %}

<div class="form-body without-side">
    
    <div class="row">
       
        <div class="form-holder" style="margin-top: 50px;">
            <div class="form-content">
                <div class="form-items">
                    <h3>Login to account</h3>
                    <!-- <p>Access to the most powerfull tool in the entire design and web industry.</p> -->
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="email" placeholder="E-mail Address" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button class="ibtn">Login</button>



                            <a href="/forget-password">Forget password?</a>
                        </div>
                    </form>
                    
                    <div class="page-links">
                        <a href="{% url 'signup' %}">Register new account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



{% include 'footer.html' %}



{% endblock %}