{% extends 'navigation.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">

            {% if messages %}
          {% for message in messages %}
            <script>
              console.log("Django message:", "{{ message|escapejs }}"); // Debug log for messages
              Toastify({
                text: "{{ message|escapejs }}",
                duration: 5000,
                close: true,
                gravity: "top",
                position: "right",

                backgroundColor: "{% if message.tags == 'success' %}#4CAF50{% elif message.tags == 'error' %}#F44336{% else %}#FFC107{% endif %}",
                stopOnFocus: true,
              
                style: {
                  width: "350px", 
                  marginTop: "45px"
                }
              }).showToast();
           
            </script>
          {% endfor %}
        {% endif %}
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <a href="{% url 'product' %}" class="list-group list-group-flush"
                                        style="color: black;">
                                        All Products
                                    </a>
                                </div>
                                {% for category in categories %}
                                <div class="card">
                                    <div class="" style="cursor: pointer;">
                                        <a href="{% url 'product' %}?category={{ category.id }}&min_price={{ min_price }}&max_price={{ max_price }}"
                                            class="list-group list-group-flush " style="color: black;">
                                            {{ category.name }}
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="sidebar__filter">
                        <div class="section-title">
                            <h4>Shop by Price</h4>
                        </div>
                        <div class="filter-range-wrap">
                            <!-- Single Range Price Slider -->
                            <div class="" id="price-range"></div>

                            <div class="price-input" style="margin-top: 20px;">
                                <p>Price:</p>
                                ₹<input type="text" id="minamount" name="min_price" value="{{ min_price }}" readonly>
                                <span>to</span>
                                ₹<input type="text" id="maxamount" name="max_price" value="{{ max_price }}" readonly>
                            </div>

                        </div>
                        <!-- Submit Filter Button -->
                        <button href="#" class="filterbtn" id="filter-price">Filter</button>
                    </div>
                    <form method="get">
                        <label>
                            <input type="checkbox" name="is_new" value="true" {% if is_new == "true" %}checked{% endif %}class="checkmark"> New Products
                        </label>
                        <label>
                            <input type="checkbox" name="is_in_stock" value="true" {% if is_in_stock == "true" %}checked{% endif %} class="checkmark"> In Stock
                        </label>
                        <button type="submit" class="filterbtn">Filter</button>
                    </form>
                </div>
            </div>
            <style>
                .price-input input {
                    width: auto;
                    min-width: 70px;
                    /* Set a minimum width */
                }

                .filterbtn {
                    border: 2px solid #ff0000;
                    color: #0d0d0d;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    padding: 5px 16px 5px 24px;
                    font-size: 14px;
                    background-color: transparent;
                    transition: background-color 0.3s ease;
                    margin-top: 20px;
                }

                .filterbtn:hover {
                    background-color: #ff0000;
                    color: white;

                }
            </style>
            <style>
                .price-input {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;
                }

                .price-input p {
                    font-weight: bold;
                    margin-right: 10px;
                    margin-top: 15px;
                }

                .price-input input {
                    width: auto;
                    min-width: 70px;
                    padding: 5px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    text-align: center;
                }

                .filterbtn {
                    border: 2px solid #ff0000;
                    color: #0d0d0d;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    padding: 5px 16px 5px 24px;
                    font-size: 14px;
                    background-color: transparent;
                    transition: background-color 0.3s ease;
                    margin-top: 20px;
                }

                .filterbtn:hover {
                    background-color: #ff0000;
                    color: white;
                }
            </style>

            <div class="col-lg-9 col-md-9">
                <div class="row">
                    {% for product in page_obj %}
                    <div class="col-lg-4 col-md-6">
                        <div class="product__item">

                            <div onclick="window.location.href='{% url 'product_detail' product.id %}'"
                                style="cursor: pointer; text-decoration: underline;">
                                <div class="product__item__pic set-bg" data-setbg="{{product.image1.url}}">


                                    {% if product.is_new %}
                                    <div class="label new">New</div>
                                    {% endif %}
                                    {% if not product.is_in_stock %}
                                    <div class="label stockout stockblue">Out of Stock</div>
                                    {% endif %}


                                    <ul class="product__hover">
                                        <li><a href="{{ product.image1.url }}" class="image-popup"
                                                style="color: black;"><span class="arrow_expand"></span></a></li>

                                        <li><a href="{% url 'add_to_wishlist' product.id %}" style="color: black;"><span
                                                    class="icon_heart_alt "></span></a></li>
                                        {% if product.is_in_stock %}
                                        <li>
                                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                                {% csrf_token %}
                                                <button style="border: none; background-color: transparent;"><span
                                                        class="icon_bag_alt "></span></button>
                                            </form>

                                        </li>


                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6 id="product-title-{{product.id}}"><a href="#">{{product.name}}</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                {% if product.discount > 0 %}
                                <strike class="text-danger original-price"> ₹{{product.price}} </strike>

                                <div class="product__price">₹{{product.discount}}</div>

                                {% else %}
                                <div class="original-price product__price">₹{{product.price}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12 text-center">
                        <div class="pagination__option">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            <a href="?page={{ num }}" class="{% if page_obj.number == num %}active{% endif %}">{{ num }}</a>
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .pagination__option a.active {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
}

</style>
<!-- Filter Functionality Script -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var minAmountInput = document.getElementById("minamount");
        var maxAmountInput = document.getElementById("maxamount");
        var filterPriceButton = document.getElementById("filter-price");

    
            // Initialize the noUiSlider library
        var priceRange = document.getElementById('price-range');
        noUiSlider.create(priceRange, {
            start: [{{ min_price|default:100 }}, {{ max_price|default:10000 }}],
            connect: true,
            range: {
                'min': 100,
                'max': 10000
            },
            step: 1
        });

    // Sync the range values with input fields
    priceRange.noUiSlider.on('update', function (values) {
        minAmountInput.value = values[0];
        maxAmountInput.value = values[1];
    });

    // Handle the filter button click event
    filterPriceButton.addEventListener('click', function () {
        var minPriceValue = minAmountInput.value;
        var maxPriceValue = maxAmountInput.value;

        var url = "{% url 'product' %}?category={{ category_id }}&min_price=" + minPriceValue + "&max_price=" + maxPriceValue;
        window.location.href = url;
    });
    });
</script>

{% include 'footer.html' %}
{% endblock %}