
{% extends 'navigation.html' %}


{% load static %}


{% block content %}





{% if messages %}
{% for message in messages %}
  <script>
    console.log("Django message:", "{{ message|escapejs }}"); // Debug log for messages
    Toastify({
      text: "{{ message|escapejs }}",
      duration: 5000,
      close: true,
      gravity: "top",
      position: "right",

      backgroundColor: "{% if message.tags == 'success' %}#4CAF50{% elif message.tags == 'error' %}#F44336{% else %}#FFC107{% endif %}",
      stopOnFocus: true,
    
      style: {
        width: "350px", 
        marginTop: "45px"
      }
    }).showToast();
 
  </script>
{% endfor %}
{% endif %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'product' %}?category={{ category.id }}">{{product.category}} </a>
                        <span>{{product.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            
                            <a class="pt active" href="#product-1">
                                <img src="{{ product.image1.url }}" alt="">
                            </a>
                            {% if product.image2 %}
                            <a class="pt" href="#product-2">
                                <img src="{{ product.image2.url }}" alt="">
                            </a>
                            {% endif %}
                            {% if product.image3 %}
                            <a class="pt" href="#product-3">
                                <img src="{{ product.image3.url }}" alt="">
                            </a>
                            {% endif %}
                            {% if product.image4 %}
                            <a class="pt" href="#product-4">
                                <img src="{{ product.image4.url }}" alt="">
                            </a>
                            {% endif %}
                        </div>
                        <div class="product__details__slider__content">
                            
                            <div class="product__details__pic__slider owl-carousel">
                                
                                <img data-hash="product-1" class="product__big__img" src="{{ product.image1.url }}" alt="">
                                <img data-hash="product-2" class="product__big__img" src="{{ product.image2.url }}" alt="">
                                <img data-hash="product-3" class="product__big__img" src="{{ product.image3.url }}" alt="">
                                <img data-hash="product-4" class="product__big__img" src="{{ product.image4.url }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{ product.name}}</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        
                        {% if product.discount > 0 %}
                        <div class="product__details__price">₹{{ product.discount }} <span>₹{{ product.price }}</span></div>
                                
                                {% else %}
                                <div class="product__details__price">₹{{ product.price }}</div>
                        {% endif %}
                        <p>{{ product.description }}</p>
                        <div class="product__details__button">
                            {% if product.is_in_stock %}
                            <div class="quantity">
                                <span>Quantity:</span>
                                <form method="POST" action="{% url 'add_to_cart' product.id %}?from_product_detail=true">
                                    {% csrf_token %}
                                    <div class="pro-qty">
                                        <input  name="quantity" value="1" min="1" readonly>
                                    </div>
                                    
                                    <button class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</button>
                                </form>
                            </div>
                            
                            
                            <ul>
                                <li><a href="{% url 'add_to_wishlist' product.id %}"><span class="icon_heart_alt"></span></a></li>
                            </ul>
                            {% else %}
                             
                              <button class="cart-btn"></span>Out of Stock</button>
                                
                            {% endif %}
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        
                        <div class="tab-content">
                           
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                {% for related_product in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ related_product.image1.url }}"    onclick="window.location.href='{% url 'product_detail' related_product.id %}'" style="cursor: pointer;">
                           
                            {% if related_product.is_new %}
                                        <div class="label new">New</div>
                                    {% endif %}
                            {% if not related_product.is_in_stock %}
                                    <div class="label stockout stockblue">Out of Stock</div>
                                    {% endif %}

                            <ul class="product__hover">
                                <li><a href="{{ product.image1.url }}" class="image-popup" style="color: black;"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'add_to_wishlist' product.id %}" style="color: black;"><span class="icon_heart_alt "></span></a></li>
                                        {% if related_product.is_in_stock %}
                                    <li>        
                                        <form method="post" action="{% url 'add_to_cart' product.id %}?from_product_detail=true">
                                            {% csrf_token %}
                                            <button  style="border: none; background-color: transparent;"><span class="icon_bag_alt "></span></button>
                                        </form>
                                       
                                    </li>
                                        

                                    {% endif %}
                            </ul>
                        </div> 
                     
                        
    
                        <div class="product__item__text">

                            {% if related_product %}
                            <h6 id="product-title-{{product.id}}"><a href="#">{{ related_product.name }}</a></h6>
                            {% endif %}
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                           {% if related_product.discount > 0 %}
                                <strike class="text-danger original-price"> ₹{{related_product.price}} </strike>

                                <div class="product__price">₹{{related_product.discount}}</div>
                                
                                {% else %}
                                <div class="original-price product__price">₹{{related_product.price}}</div>
                                {% endif %}
                           
                        </div>
                    </div>


                    
                </div>
                {% empty %}
                <div class="col-12">
                    <p>No related products available.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->
    {% include 'footer.html' %}
    {% endblock %}