{% extends 'navigation.html' %}


{% load static %}


{% block content %}

<div class="form-body without-side">
    
    <div class="row">
       
        <div class="form-holder" style="margin-top: 50px;">
            <div class="form-content">
                <div class="form-items">
                    <h3>Reset Password</h3>
                    
                    <form action="/reset-password" method="POST">
                        {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter New Password">
                    
                        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" placeholder="Enter Confirm Password">
                        <div class="form-button">
                            <div class="first">
                            <button class="ibtn" type="submit">Reset Password</button>

                        </div>

                        
                        </div>
                    </form>
                    
        
                </div>
            </div>
        </div>
    </div>


</div>



{% include 'footer.html' %}



{% endblock %}