{% extends 'navigation.html' %}

{% load custom_filter %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <script>
    console.log("Django message:", "{{ message|escapejs }}"); // Debug log for messages
    Toastify({
      text: "{{ message|escapejs }}",
      duration: 5000,
      close: true,
      gravity: "top",
      position: "right",

      backgroundColor: "{% if message.tags == 'success' %}#4CAF50{% elif message.tags == 'error' %}#F44336{% else %}#FFC107{% endif %}",
      stopOnFocus: true,
    
      style: {
        width: "350px", 
        marginTop: "45px"
      }
    }).showToast();
 
  </script>
{% endfor %}
{% endif %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Wishlist cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>

                            {% if wishlist_items %}
                            {% for item in wishlist_items %}

                            <tr>
                                
                                <td class="cart__product__item">
                                    <img src="{{ item.product.image1.url }}" alt="" width="100" height="100">
                                    <div class="cart__product__item__title">
                                        <h6><a href="{% url 'product_detail' item.product.id %}"
                                                style="text-decoration: none; color: black;">{{ item.product.name }}</a>
                                        </h6>
                                    </div>
                                </td>
                                <td class="cart__product__item__title">{{ item.product.category.name }}</td>
                                <td class="cart__price">₹ {{ item.product.discount }}</td>

                                <td class="cart__total">
                                    <form method="post" action="{% url 'add_to_cart_wishlist' item.product.id %}">
                                        {% csrf_token %}

                                        <button type="submit" class="site-btn" style="text-transform: none;">Add to
                                            Cart</button>
                                    </form>
                                </td>
                                <td class="cart__close">
                                    <a href="{% url 'remove_from_wishlist' item.product.id %}">
                                        <span class="icon_close"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="5">Your wishlist cart is empty.</td>
                            </tr>
                            {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="{% url 'clear_wishlist' %}"><span class="icon_loading"></span> Clear wishlist cart</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Shop Cart Section End -->

<style>
    .quantity-wrapper {
        display: flex;

        align-items: center;
        justify-content: center;
        /* gap: 10px; */
    }

    .quantity-btn {
        display: inline-block;
        background-color: #333;
        color: #fff;
        border: none;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
    }

    .quantity-display {
        font-size: 18px;
        min-width: 30px;
        text-align: center;
    }

    .quantity-btn:hover {
        background-color: #555;
        color: black;
    }

    /* .cart__close .icon_close {
        color: #d9534f;
        font-size: 20px;
        cursor: pointer;
    } */
    .primary-btn.no-hover {
        color: #fff;
        text-decoration: none;
    }

    .primary-btn.no-hover:hover {
        color: #fff;
    }
</style>
{% include 'footer.html' %}
{% endblock %}